<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BibleBooks WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BibleBooks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - BibleBooks WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B88DCB901C1F184C00553071</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B88DCBA41C1F184C00553071</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B88DCBAF1C1F184C00553071</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B88DCBB81C1F184C00553071</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
